header{
    height: 100vh;
    padding-top: 3rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 0;
    bottom: 2rem;
}

.header__socials::after{
    content: '';
    width: 1px;
    height: 1.8rem;
    background: var(--color-primary);
}

#social__icon{
    transform: scale(1.5);
}

.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 26rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 3rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 2rem 1.5rem 1.5rem 0.6rem;
}

.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1rem;
}

/* ==================== Media Queries (Medium) ==================== */
/* @media screen and (max-width: 1024px) {
    header{
        height: calc(max-content + 100vh);
    }
} */


/* ==================== Media Queries (Small) ==================== */
@media screen and (max-width: 600px) {
    .header__socials, .scroll__down{
        display: none;
    }
}